@font-face {
  font-family: 'Draconis';
  src: url("../../assets/fonts/Draconis-JRw6B.ttf");
}

@font-face {
  font-family: 'DraconisBold';
  src: url("../../assets/fonts/DraconisBold-qZxd6.ttf");
}

@font-face {
  font-family: 'DraconisBoldItalic';
  src: url("../../assets/fonts/DraconisBoldItalic-AL8O6.ttf");
}

@font-face {
  font-family: 'DraconisItalic';
  src: url("../../assets/fonts/DraconisItalic-VGdjy.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("../../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url("../../assets/fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url("../../assets/fonts/OpenSans-BoldItalic.ttf");
}

.cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: white;
  font-family: Draconis;
  font-size: 24px;
}

.cabecera .navegador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 40px;
}

.cabecera .navegador .logo {
  width: 100px;
  height: 100px;
}

.cabecera .navegador a {
  text-decoration: none;
  color: white;
}

.cabecera .navegador .contenedor-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.cabecera .navegador .contenedor-perfil .contenido-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabecera .navegador .contenedor-perfil .contenido-perfil img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.cabecera .navegador .contenedor-perfil .contenido-perfil .desplegar {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.cabecera .navegador .contenedor-perfil .menuDesplegable {
  position: absolute;
  background-color: black;
  top: 40px;
  padding: 10px;
  left: 105px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabecera .navegador .contenedor-perfil .menuDesplegable input {
  background-color: black;
  color: white;
  padding: 0;
  border-width: 0;
  border-style: none;
}

.cabecera .navegador .contenedor-perfil .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detalles-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: OpenSans;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../../assets/img/FondoCatalogo.jpg);
}

.detalles-producto .imagen-datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e8e4dcbe;
  gap: 10px;
}

.detalles-producto .imagen-datos .contenedor-imagen-producto {
  margin: 20px;
}

.detalles-producto .imagen-datos .datos-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  width: 80%;
}

.detalles-producto .imagen-datos .datos-producto h2 {
  font-family: OpenSans-Bold;
}

.detalles-producto .imagen-datos .datos-producto .info-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detalles-producto .imagen-datos .datos-producto .info-producto h2 {
  font-family: OpenSans-Bold;
}

.detalles-producto .imagen-datos .anadir-volver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.detalles-producto .imagen-datos .anadir-volver .btn {
  width: 200px;
  margin-right: 10px;
}

.detalles-producto .imagen-datos .anadir-volver .btn a {
  color: white;
  text-decoration: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: white;
  font-family: OpenSans;
}

footer .logo {
  width: 100px;
}

footer a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=DetallesProducto.css.map */