@import "../variables/colors.scss";
@import "../variables/fonts.scss";
body {
    background: url(../../assets/img/FondoLogin.jpg) fixed 50%;
    background-size: cover;
}

.main {
    display: flex;
    font-family: OpenSans;
    .contenedor-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: map-get($colors, pasteltranslucido);
        margin-top: 20px;
        border: 2px solid map-get($colors, negro);
        form {
            display: flex;
            flex-direction: column;
            color: map-get($colors, negro);
            align-items: center;
            gap: 20px;
            padding: 20px;
            h2 {
                font-family: OpenSans-Bold;
            }
            h4 {
                font-family: OpenSans-Bold;
            }
            label {
                font-family: OpenSans-Bold;
            }
            input {
                width: 200px;
            }
            a {
                color: map-get($colors, negro);
            }
        }
    }
}