@import "../variables/colors.scss";
@import "../variables/fonts.scss";
.cabecera {
    display: flex;
    background-color: map-get($colors, negro);
    color: map-get($colors, blanco);
    font-family: Draconis;
    font-size: 24px;
    .navegador {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap: 40px;
        .logo {
            width: 100px;
            height: 100px;
        }
        a {
            text-decoration: none;
            color: map-get($colors, blanco);
        }
        .contenedor-perfil {
            display: flex;
            flex-direction: column;
            position: relative;
            .contenido-perfil {
                display: flex;
                gap: 10px;
                align-items: center;
                img {
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                }
                .desplegar {
                    width: 30px;
                    height: 30px;
                    filter: invert(1);
                }
            }
            .menuDesplegable {
                position: absolute;
                background-color: map-get($colors, negro);
                top: 40px;
                padding: 10px;
                left: 105px;
                display: none;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                input {
                    background-color: map-get($colors, negro);
                    color: map-get($colors, blanco);
                    padding: 0;
                    border-width: 0;
                    border-style: none;
                }
            }
            .active {
                display: flex;
            }
        }
    }
}

.main {
    min-height: 100vh;
    .contenedor-filtros {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        background-color: map-get($colors, pasteldungeon);
        font-family: OpenSans;
        .titulos {
            display: flex;
            justify-content: space-around;
            h4 {
                font-weight: bold;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .opciones-filtrado {
                display: flex;
                justify-content: space-around;
                select {
                    width: 250px;
                    option {
                        width: 200px;
                    }
                }
                input {
                    width: 250px;
                }
            }
            .container-fluid {
                --bs-gutter-x: 0;
                justify-content: center;
                display: flex;
                gap: 10px;
                margin-top: 20px;
                input {
                    width: 200px;
                }
            }
        }
        button {
            width: 200px;
            a {
                color: map-get($colors, blanco);
                text-decoration: none;
            }
        }
    }
    .list-group {
        font-family: OpenSans;
        .list-group-item {
            border-radius: 0;
            display: flex;
            .container-fluid {
                display: flex;
                flex-direction: column;
                width: auto;
                margin: 0;
                a {
                    color: map-get($colors, negro);
                    font-weight: bold;
                }
            }
        }
    }
    .paginas {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: map-get($colors, pasteldungeon);
        font-family: OpenSans;
        .botones-paginas {
            display: flex;
            button {
                height: 50px;
            }
            input {
                width: 200px;
            }
            a {
                color: map-get($colors, blanco);
                text-decoration: none;
            }
            div {
                .pagination {
                    .page-item {
                        a {
                            color: map-get($colors, negro);
                            margin: 10px;
                        }
                    }
                }
            }
        }
        a {
            color: map-get($colors, negro);
            font-weight: bold;
        }
    }
}

footer {
    display: flex;
    background-color: map-get($colors, negro);
    color: map-get($colors, blanco);
    font-family: OpenSans;
    .logo {
        width: 100px;
    }
    a {
        color: map-get($colors, blanco);
        text-decoration: none;
    }
}